<div class="row">

    <!-- Left column -->
    <div class="col-xs-12 col-md-6">

        <!-- Basic  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Basic settings</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed table-striped" style="margin-bottom: 0px;">
                    <tr data-toggle="tooltip"
                        title="Name of the exchange where the bots operates. See EXCHANGES.md for a list">
                        <td class="col-md-2">Exchange</td>

                        <td class="col-md-8">
                            <div class="input-group">
                                <input id="exchangename" size="100" type="text" class="form-control"
                                       placeholder="exchangename">
                            </div>
                        </td>

                    </tr>

                    <tr data-toggle="tooltip" title="Custodian's public key to access the exchange">
                        <td class="col-md-2">API key</td>

                        <td class="col-md-8">
                            <div class="input-group">
                                <input id="apikey" size="100" type="text" class="form-control" placeholder="API Key">
                            </div>
                        </td>


                    </tr>


                    <tr data-toggle="tooltip" title="Custodian s secret key to access the exchange">
                        <td class="col-md-2">API secret</td>

                        <td class="col-md-8">
                            <div class="input-group">
                                <input id="apisecret" type="password" size="100" type="text" class="form-control"
                                       placeholder="API Secret">
                            </div>
                        </td>


                    </tr>


                    <tr data-toggle="tooltip" title="The currency pair where the bot operates,  eg. nbt_usd">
                        <td class="col-md-2">pair</td>

                        <td class="col-md-8">
                            <div class="input-group">
                                <input id="pair" size="100" type="text" class="form-control" placeholder="pair">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Flags  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Flags</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed table-striped" style="margin-bottom: 0px;">
                    <tr>
                        <td data-toggle="tooltip" class="col-md-5 col-xs-5"
                            title="if set to false will disable gitter notifications">gitter
                        </td>
                        <td data-toggle="tooltip" title="default : true" class="col-md-1 col-xs-1">
                              <span class="input-group-addon">
                                    <input id="gitter" type="checkbox" aria-label="gitter">
                              </span>

                        </td>

                        <td data-toggle="tooltip" class="col-md-5 col-xs-5"
                            title="if set to false the bot will print a warning instead of executing orders">
                            executeorders
                        </td>
                        <td data-toggle="tooltip" title="default : true" class="col-md-1 col-xs-1">
                              <span class="input-group-addon">
                                    <input id="executeorders" type="checkbox" aria-label="executeorders">
                              </span>
                        </td>

                    </tr>
                    <tr>
                        <td data-toggle="tooltip" class="col-md-5 col-xs-5"
                            title="If set to true, the bot will behave as a dual side custodian, if false as a sell side custodian.">
                            Dual side
                        </td>
                        <td data-toggle="tooltip" title="default : true" class="col-md-1 col-xs-1">
                              <span class="input-group-addon">
                                    <input id="dualside" type="checkbox" aria-label="dualside">
                              </span>
                        </td>


                        <td data-toggle="tooltip" class="col-md-5 col-xs-5"
                            title="if set to true (and streaming bypassed	offline) bot will sync with remote NPT and reset orders often">
                            multipleoperators
                        </td>
                        <td data-toggle="tooltip" title="default : false" class="col-md-1 col-xs-1">
                              <span class="input-group-addon">
                                    <input id="multipleoperators" type="checkbox" aria-label="multipleoperators">
                              </span>
                        </td>
                    </tr>

                </table>
            </div>
        </div>

        <!-- Pool and third party  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Pool and third-party settings</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed table-striped" style="margin-bottom: 40px;">
                    <td data-toggle="tooltip"
                        title="if set to true, will connect to the specified liquidity pool">Pool
                        Mode
                    </td>
                    <td colspan="3" data-toggle="tooltip" title="default : false">
                                  <span class="input-group-addon">
                                        <input id="poolModeActive" type="checkbox" aria-label="poolModeActive">
                                  </span>

                    </td>
                    <tr>
                        <td data-toggle="tooltip"
                            title="URI of the pool [hostname:port]  Official list : nubits.com/liquidity-pools"
                            class="col-md-2">poolURI
                        </td>
                        <td class="col-md-8">
                            <div class="input-group">
                                <input id="poolURI" size="100" type="text" class="form-control"
                                       placeholder="hostname:port">
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td data-toggle="tooltip" title="NBT address for receiving the payout">poolPayoutAddress</td>
                        <td data-toggle="tooltip">
                            <div class="input-group">
                                <input id="poolPayoutAddress" size="100" type="text" class="form-control"
                                       placeholder="">
                            </div>
                        </td>

                    </tr>


                    <tr>
                        <td data-toggle="tooltip"
                            title="Interval between submissions to liquidity pool server [seconds]"
                            class="col-md-2">poolSubmitInterval
                        </td>
                        <td class="col-md-8" data-toggle="tooltip" title="default : 50">
                            <div class="input-group">
                                <input id="poolSubmitInterval" size="100" type="text" class="form-control"
                                       placeholder="">
                            </div>
                        </td>
                    </tr>
                </table>


                <table class="table table-hover table-condensed table-striped" style="margin-bottom: 0px;">

                    <tr>
                        <td data-toggle="tooltip"
                            title="if enabled will autonomously read peg price directly from pricefeeds. See STREAMER.MD">
                            Bypass Streaming
                        </td>
                        <td colspan="3" data-toggle="tooltip" title="default : false">
                              <span class="input-group-addon">
                                    <input id="bypassStreaming" type="checkbox" aria-label="bypassStreaming">
                              </span>

                        </td>
                    </tr>

                    <tr>
                        <td data-toggle="tooltip" title="hostname:port for Streaming service. See STREAMER.MD"
                            class="col-md-2">
                            Streaming Server
                        </td>
                        <td class="col-md-8" data-toggle="tooltip" title="default : stream.tradingbot.nu:5556">
                            <div class="input-group">
                                <input id="streamingserver" size="100" type="text" class="form-control"
                                       placeholder="streamingserver">
                            </div>
                        </td>

                    </tr>
                </table>
            </div>
        </div>

    </div>

    <!-- Right column -->
    <div class="col-xs-12 col-md-6">
        <!-- Misc  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Miscellaneus</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed table-striped" style="margin-bottom: 0px;">

                    <tr>
                        <td data-toggle="tooltip" title="how much the price needs to change to trigger a wall-shift">
                            wallchangeThreshold
                        </td>
                        <td data-toggle="tooltip" title="default : 0.15">
                            <div class="input-group">
                                <input id="wallchangethreshold" size="100" type="text" class="form-control"
                                       placeholder="0.0">

                                <div class="input-group-addon">%</div>

                            </div>
                        </td>


                    </tr>

                    <tr>
                        <td data-toggle="tooltip"
                            title="max amount of minutes of consecutive failure. After those minute elapse, emergency procedure starts">
                            emergencytimeout
                        </td>
                        <td data-toggle="tooltip" title="default : 60">
                            <div class="input-group">
                                <input id="emergencytimeout" size="100" type="text" class="form-control"
                                       placeholder="0.0">

                                <div class="input-group-addon">min</div>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td data-toggle="tooltip"
                            title="Specific setting for KTm's proposal. Will keep the specified proceeds from sales apart instead of putting 100% of balance on buy .">
                            keepproceeds
                        </td>
                        <td data-toggle="tooltip" title="default : 0">
                            <div class="input-group">
                                <input id="keepproceeds" size="100" type="text" class="form-control" placeholder="0.0">

                                <div class="input-group-addon">%</div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td data-toggle="tooltip"
                            title="if transaction fee not available from the exchange via api, this value will be used"
                            class="col-md-2">txfee
                        </td>
                        <td class="col-md-8" data-toggle="tooltip" title="default : 0.2">
                            <div class="input-group">
                                <input id="txfee" size="100" type="text" class="form-control" placeholder="txfee">

                                <div class="input-group-addon">%</div>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td data-toggle="tooltip"
                            title="the name of the main price feed that has priority over the others"
                            class="col-md-2">Mainfeed
                        </td>
                        <td class="col-md-8" data-toggle="tooltip"
                            title="default : depends on currency. See currencies.csv">
                            <div class="input-group">
                                <input id="mainfeed" size="100" type="text" class="form-control" placeholder="">
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td data-toggle="tooltip"
                            title="a comma separated list containing an arbitrary number (>2) of backup price feed names"
                            class="col-md-2">Backupfeeds
                        </td>
                        <td data-toggle="tooltip" title="default : depends on currency. See currencies.csv"
                            class="col-md-8">
                            <div class="input-group">
                                <input id="backupfeeds" size="100" type="text" class="form-control" placeholder="">
                            </div>
                        </td>

                    </tr>


                    <tr>
                        <td data-toggle="tooltip" title="the email to which emergency email are sent" class="col-md-2">
                            Mailrecipient
                        </td>
                        <td class="col-md-8">
                            <div class="input-group">
                                <input id="mailrecipient" size="100" type="text" class="form-control"
                                       placeholder="mailrecipient">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td data-toggle="tooltip"
                            title="set notification level: none, all: including non-critical, severe: only critical"
                            class="col-md-2">Mailnotifications
                        </td>
                        <td class="col-md-8" data-toggle="tooltip" title="default : severe">
                            <div class="input-group">
                                <input id="mailnotifications" size="100" type="text" class="form-control"
                                       placeholder="mailnotifications">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td data-toggle="tooltip" title="set logging verbosity level" class="col-md-2">verbosity</td>
                        <td class="col-md-8" data-toggle="tooltip" title="default : normal">
                            <div class="input-group">
                                <input id="verbosity" size="100" type="text" class="form-control"
                                       placeholder="verbosity">
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td data-toggle="tooltip"
                            title="the port for http server and GUI. Can be overriden via CLI launch argument -port"
                            class="col-md-2">webport
                        </td>
                        <td class="col-md-8" data-toggle="tooltip" title="default : 8889">
                            <div class="input-group">
                                <input id="webport" size="100" type="text" class="form-control"
                                       placeholder="webport">
                            </div>
                        </td>

                    </tr>
                </table>
            </div>
        </div>

        <!-- Nud  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Nud settings</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed table-striped" style="margin-bottom: 0px;">
                    <tr>
                        <td data-toggle="tooltip"
                            title="if set to false, the bot will not try to submit liquidity info. If set to false, it will also allow the custodian to omit the declaration of nubitaddress , nudport , rpcuser and rpcpass">
                            submitliquidity
                        </td>
                        <td colspan="3" data-toggle="tooltip" title="default : true">
                              <span class="input-group-addon">
                                    <input id="submitliquidity" type="checkbox" aria-label="submitliquidity">
                              </span>
                        </td>
                    </tr>
                    <tr>
                        <td data-toggle="tooltip" title="The IP address of the machine that hosts the Nu Client"
                            class="col-md-3">nudIP
                        </td>
                        <td class="col-md-3" data-toggle="tooltip" title="default : 127.0.0.1">
                            <div class="input-group">
                                <input id="nudip" size="100" type="text" class="form-control" placeholder="nudIP">
                            </div>
                        </td>

                        <td data-toggle="tooltip" title="The RPC port of the Nu daemon" class="col-md-3">nudport</td>
                        <td class="col-md-3">
                            <div class="input-group">
                                <input id="nudport" size="100" type="text" class="form-control" placeholder="nudport">
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td data-toggle="tooltip" title="The RPC port of the Nu daemon" class="col-md-3">rpcuser</td>
                        <td class="col-md-3">
                            <div class="input-group">
                                <input id="rpcuser" size="100" type="text" class="form-control" placeholder="rpcuser">
                            </div>
                        </td>


                        <td data-toggle="tooltip" title="The RPC pass of the Nu daemon" class="col-md-3">rpcpass</td>
                        <td class="col-md-3">
                            <div class="input-group">
                                <input id="rpcpass" type="password" size="100" type="text" class="form-control"
                                       placeholder="rpcpass">
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td data-toggle="tooltip"
                            title="the public address where the custodial grant has been received">nubitaddress
                        </td>
                        <td colspan="3">
                            <div class="input-group">
                                <input id="nubitaddress" size="100" type="text" class="form-control"
                                       placeholder="nubitaddress">
                            </div>
                        </td>


                    </tr>
                </table>
            </div>
        </div>

    </div>


    <!-- Fullpage -->
    <div class="col-xs-12 col-md-12">

        <!-- Orderbook  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Orderbook price settings</h4>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed table-striped" style="margin-bottom: 0px;">

                    <tr>
                        <td data-toggle="tooltip" title="maximum volume to put on buy walls at best price (tier1)"
                            class="col-md-4">Buy wall (tier1)
                        </td>
                        <td data-toggle="tooltip" title="default : 500" class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-addon">NBT</div>
                                <input id="bookbuywall" size="200" type="text" class="form-control" placeholder="0.0">
                            </div>
                        </td>

                        <td data-toggle="tooltip" title="maximum volume to put on sell walls at best price (tier1)"
                            class="col-md-4">Sell wall (tier1)
                        </td>
                        <td data-toggle="tooltip" title="default : 500" class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-addon">NBT</div>
                                <input id="booksellwall" size="200" type="text" class="form-control" placeholder="0.0">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td data-toggle="tooltip" title="offset from target price" class="col-md-4">Buy Offset</td>
                        <td data-toggle="tooltip" title="default : depends on currency (0;0.01;0.025)" class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input id="bookbuyoffset" size="200" type="text" class="form-control"
                                       placeholder="0.015">
                            </div>
                        </td>

                        <td data-toggle="tooltip" title="offset from target price" class="col-md-4">Sell Offset</td>

                        <td data-toggle="tooltip" title="default : depends on currency (0;0.01;0.025)" class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input id="bookselloffset" size="200" type="text" class="form-control"
                                       placeholder="0.015">
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td data-toggle="tooltip" title="maximum cumulative volume of open Buy orders "
                            class="col-md-4">Buy Max
                            Cumulative volume
                        </td>
                        <td data-toggle="tooltip" title="default : 0 (unlimited)" class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>

                                <input id="bookbuymaxvolumecumulative" size="200" type="text" class="form-control"
                                       placeholder="0">
                            </div>
                        </td>

                        <td data-toggle="tooltip" title="maximum cumulative volume of open sell orders "
                            class="col-md-4">Sell
                            Max Cumulative volume
                        </td>
                        <td data-toggle="tooltip" title="default : (unlimited)" class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>

                                <input id="booksellmaxvolumecumulative" size="200" type="text" class="form-control"
                                       placeholder="0">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td data-toggle="tooltip"
                            title="if set to true, will only place the tier1 walls">Disable
                            tier2
                        </td>
                        <td colspan="3" data-toggle="tooltip" title="default : false">
                              <span class="input-group-addon">
                                    <input id="bookDisabletier2" type="checkbox" aria-label="bookDisabletier2">
                              </span>

                        </td>
                    </tr>
                    <tr>
                        <td data-toggle="tooltip" title="shape of the curve" class="col-md-4">Buy-book type</td>
                        <td data-toggle="tooltip" title="default : exp" class="col-md-2">
                            <div class="input-group">
                                <input id="bookbuytype" size="200" type="text" class="form-control" placeholder="exp">
                            </div>
                        </td>

                        <td data-toggle="tooltip" title="shape of the curve" class="col-md-4">Sell-book type</td>
                        <td data-toggle="tooltip" title="default : exp" class="col-md-2">
                            <div class="input-group">
                                <input id="bookselltype" size="200" type="text" class="form-control" placeholder="exp">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td data-toggle="tooltip" title="steepness of the curve" class="col-md-4">Buy-book
                            steepness
                        </td>
                        <td data-toggle="tooltip" title="default : mid" class="col-md-2">
                            <div class="input-group">
                                <input id="bookbuysteepness" size="200" type="text" class="form-control"
                                       placeholder="mid">
                            </div>
                        </td>

                        <td data-toggle="tooltip" title="steepness of the curve" class="col-md-4">Sell-book
                            steepness
                        </td>
                        <td data-toggle="tooltip" title="default : mid" class="col-md-2">
                            <div class="input-group">
                                <input id="booksellsteepness" size="200" type="text" class="form-control"
                                       placeholder="mid">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td data-toggle="tooltip" title="interval price between two buy orders" class="col-md-4">
                            Buy-orders interval
                        </td>
                        <td data-toggle="tooltip" title="default : 0.008" class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>

                                <input id="bookbuyinterval" size="200" type="text" class="form-control"
                                       placeholder="0.008">
                            </div>
                        </td>

                        <td data-toggle="tooltip" title="interval price between two sell orders" class="col-md-4">
                            Sell-orders
                            interval
                        </td>
                        <td data-toggle="tooltip" title="default : 0.008" class="col-md-2">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>

                                <input id="booksellinterval" size="200" type="text" class="form-control"
                                       placeholder="0.008">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td data-toggle="tooltip"
                            title="if working in sell-side mode, this value (considered USD) will be added to the sell price">
                            priceincrement
                        </td>
                        <td colspan="3" data-toggle="tooltip" title="default : 0.0003">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input id="priceincrement" size="100" type="text" class="form-control"
                                       placeholder="0.0">
                            </div>
                        </td>

                    </tr>
                </table>

                <div class="col-xs-12 col-md-12 text-center">
                    <button id="previewbook" type="button" class="btn ladda-button" data-size="s" data-color="blue"
                            data-style="expand-right" style="margin-top: 25px; margin-bottom: 25px;"
                            onclick="previewOrderBook()">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"> Preview orderbook design</span>
                    </button>

                    <button id="togglepreview" type="button" class="btn btn-default showChart"
                            style="margin-top: 25px; margin-bottom: 25px;"
                            onclick="toggleChart()">
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </button>

                </div>

                <div class="panel panel-default col-xs-12 col-md-12" id="orderbook-preview-container">
                    <div class="panel-body">
                        <div id="orderbook-preview-div" style="height: 500px; margin: 0 auto"></div>
                    </div>
                </div>


            </div>
        </div>

        <!-- Actions -->
        <div class="panel panel-primary">
            <div class="panel-heading">Actions</div>

            <div class="panel-body">
                <button id="saveconfigbutton" type="button" class="btn ladda-button" data-size="s" data-color="mint"
                        data-style="expand-right" onclick="postall()">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"> Save Configuration</span>
                </button>

                <button id="resetbutton" type="button" class="btn ladda-button" data-size="s" data-color="red"
                        data-style="expand-right" style="margin-left: 20px"
                        onclick="postreset()">
                    <span class="glyphicon glyphicon-alert" aria-hidden="true"> Clear all</span>
                </button>


                <table class="table table-condensed" style="margin-bottom: 0px; margin-top: 20px;">

                    <tr>
                        <td class="col-md-4 col-xs-4"><var>Config file :</var></td>
                        <td class="col-md-8 col-xs-8">
                            <p id="configfile"></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


</div>
<!-- /container -->

</div>

</div>


<script>$( document ).ready(function() { startupPage("config");});</script>

