<div class="row" style="margin-top: 5px">

    <div class="col-xs-12 col-md-4">

        <button id="togglebot" type="button" class="btn btn-primary ladda-button" data-size="xl"
                data-style="expand-right" style="margin-bottom:20px;">
            <span id="togglebot-text" class="ladda-label glyphicon glyphicon-star"> Start Bot</span>
        </button>

        <br>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Session info</h4>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-striped"
                       style="margin-bottom: 0px; ">

                    <tr>
                        <td><var>Market :</var></td>
                        <td>
                            <p id="market"></p>
                        </td>
                    </tr>

                    <tr>
                        <td><var>Bot Status :</var></td>
                        <td>
                            <p id="botstatus"></p>
                        </td>
                    </tr>

                    <tr>
                        <td><var>Session started :</var></td>
                        <td>
                            <p id="sessionstart"></p>
                        </td>
                    </tr>

                    <tr>
                        <td><var>Sesssion duration :</var></td>
                        <td>
                            <p id="duration"></p>
                        </td>
                    </tr>

                    <tr>
                        <td><var>Session ID :</var></td>
                        <td>
                            <p id="sessionid"></p>
                        </td>
                    </tr>

                </table>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Orders and Balances</h4>
            </div>
            <div class="panel-body">
                <table id="ordertable" class="table">
                    <thead>
                    <tr>
                        <th>Order type</th>
                        <th style='text-align: right;'>Quantity</th>
                        <th style='text-align: right;'>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <hr>
                <table id="balancetable" class="table">
                    <thead>
                    <tr>
                        <th>Asset</th>
                        <th style='text-align: right;'>Total</th>
                        <th style='text-align: right;'>Wall (T1)</th>
                        <th style='text-align: right;'>Tail+Balance (T2)</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Logs</h4>
            </div>
            <div class="panel-body">
                <label><input id="autoscrollCheckbox" type="checkbox" value="" checked> autoscroll</label>

                <div id="logareadiv" class="input-group col-xs-12 col-md-12">
                    <textarea readonly id="logarea" class="form-control custom-control"></textarea>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
   $( document ).ready(function() {
        startupPage("dashboard");
    });





































</script>